<h3 class="page-title">Pais</h3>

<button class="btn btn-primary mb-3" routerLink="/pais/novo">Cadastrar</button>


<table class="table table-bordered">
  <!-- Cabeça da tabela -->
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>

  <!-- corpo da tabela -->
  <tbody>
    <tr *ngFor="let pais of paises">
      <td>{{ pais.nome }}</td>
      <td class="align">
        <button [routerLink]="['/pais/editar', pais.id]" class="btn btn-secondary">Editar</button>
        <button (click)="onDelete(pais.id)" class="btn btn-danger">Deletar</button>

      </td>
    </tr>
  </tbody>
</table>