<div>
  <div class="row">
    <div class="titulo">
      <h3 class="page-title">{{ titulo }}</h3>
    </div>
  </div>
  <div>

    <button class="btn btn-primary m-3" routerLink="/garagem/novo">
      Cadastrar
    </button>
  </div>

</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let garagem of garagens">
      <td>{{ garagem.nome }}</td>
      <td class="align">
        <button class="btn btn-secondary" [routerLink]="['/garagem/editar', garagem.id]">
          Editar
        </button>

        <button class="btn btn-danger" (click)="onDelete(garagem.id)">
          Deletar
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="arrayVazio == true" class="col-md-12 text-center">
  Não consta dados na tabela
</div>